<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Test Server</title>
</head>
<body>
	<div class='page-header'>
		<h1>Word Detection Test Server</h1>
		<h3>- Menu Bar</h3>
		<div class='menu-bar'>
			<ul class='menu-bar'>
				<li><a href="{{url_for('basic')}}">Home</a></li>
				<li><a href="{{url_for('info')}}">Info</a></li>
			</ul>
		</div>
		<hr/>
	</div>
	<div class='content container'>
		<div class='row'>
			<div class="col-md-8">
				{% block content %}
				<h3>----Base content----</h3>
				{% endblock %}
			</div>
		</div>
	</div>
	<div class='page-botton'>
		
	</div>
</body>
</html>