<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Information Tap</title>
</head>
{% extends 'basic.html' %}
{% block content %}
	<h2>This is KoreanWord Detection Test Server</h2>
	<hr/>
	<h3>
		<p>
		You can test KoreanWordDetection in this site. Click 'Home' button in menu bar.
		Write Text in Input object. And click 'test it' button.
		</p>
		<p>
		Text lenght must be fewer than 100
		</p>
		<p>
		<a href="https://github.com/Seol7523/KoreanWordDetection">Seol7523's Github</a>
		</p>
	</h3>
{% endblock %}